@import '../variables';

.svgeditor-- {
  &canvas {
    border: 1px solid $gray-ee;
  }

  &dot {
    cursor: pointer;
    fill: $magenta;
    stroke: $black;
    stroke-width: 1;
  }

  &shape {
    cursor: pointer;
    fill: fade-out($gray-ee, 0.5);

    &.active {
      stroke: $gray-70;
      stroke-width: 1;
    }
  }
}